# Binary
openstat
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.html

# Dependencies
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env

# Database
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# Logs
*.log
log/

# Build
/dist/
